/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }

  #footer-zone { 
    height: 50px; 
    
    width:100%; 
    position:absolute; 
    bottom:0; 
    left:0; 
  
  }